### Question 1 -> population at 10th year is 10000 , what was the population at each year till the 10th year if population increased by 10% each year

In [2]:
curr_pop=10000
for i in range(10,0,-1):
    print(f'population at {i}th year is {curr_pop}')
    curr_pop = (10/11)*curr_pop

population at 10th year is 10000
population at 9th year is 9090.90909090909
population at 8th year is 8264.462809917355
population at 7th year is 7513.1480090157775
population at 6th year is 6830.134553650707
population at 5th year is 6209.213230591551
population at 4th year is 5644.7393005377735
population at 3th year is 5131.581182307066
population at 2th year is 4665.073802097333
population at 1th year is 4240.976183724848

### Question 2 -> Find the value of Sequence Sum -> 1/1! + 2/2! + 3/3! + .......

In [3]:
import math

In [4]:
import numpy as np

In [8]:
n = int(input('Enter the value of the number till we want the sequence sum'))
sum=0
for i in range(1,n+1,1):
    sum = sum+i/math.factorial(i)
print(sum)

Enter the value of the number till we want the sequence sum 3

2.5

### Question 3 -> print pattern ->   *
### *
### **
### ***

In [20]:
n = int(input('enter the number of rows = '))
for row in range(1,n+1):
    for j in range(row):
        print('*',end='') # we need to put end 
    print()

enter the number of rows =  5

*
**
***
****
*****

### Question 4 -> Print Pattern

### 1
### 121
### 12321
### 1234321

In [30]:
n=int(input('Enter the value of rows '))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end='')
    for k in range(j-1,0,-1):
        print(k,end='')
    print()

Enter the value of rows  5

1
121
12321
1234321
123454321